@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: monospace;
}
body {
  @apply bg-white dark:bg-gray-700; 
}
.MainMenu {
  width: 10.5vw;
  min-width: 90px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.MainMenu button {
  width: 3vw;
  height: 3vw;
  min-width: 35px;
  min-height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  @apply shadow bg-gray-50 dark:bg-gray-800 rounded-full m-8 text-gray-400 py-2 px-2 hover:rotate-180 hover:text-gray-800 dark:hover:text-white transition
}
.headerDay{
    height: 24px;
    min-width: 24px;
}
.modal {
  width: 25%;
  min-width: 250px;
}
.menuButton {
    display: flex;
    align-items: center;
    justify-content: center;
}
.menuButton li {
    list-style: none;
    position: absolute;
}
.dayChoose label {
  cursor: pointer;
}
.dayChoose label input[type="radio"] {
  display: none;
}
.dayChoose label span {
  position: relative;
  display: inline-block;
  padding: 4px 8px;
  transition: 0.5s;
  border-radius: 10%;
  @apply text-gray-500 font-medium overflow-hidden;
}

.dayChoose label input[type="radio"]:hover ~ span {
  @apply shadow;
}

.dayChoose label input[type="radio"]:checked ~ span {
  @apply text-white bg-blue-400 dark:text-gray-200 dark:bg-gray-900;
}
.event45 {
  max-width: 11.5vw;
  min-height: 23px;
  width: 10vw;
  min-width: 4vw;
  height: 5.5vh;
}
.event90 {
  max-width: 11.5vw;
  min-height: 46px;
  width: 10vw;
  min-width: 4vw;
  height: 11.5vh;
}
.event135 {
  max-width: 11.5vw;
  min-height: 71px;
  width: 10vw;
  min-width: 4vw;
  height: 17.5vh;
}
.event270 {
  max-width: 11.5vw;
  min-height: 142px;
  width: 10vw;
  min-width: 4vw;
  height: 35.6vh;
}
.event45-5 {
  max-width: 16vw;
  min-height: 23px;
  width: 14vw;
  min-width: 4vw;
  height: 5.5vh;
}
.event90-5 {
  max-width: 16vw;
  min-height: 46px;
  width: 14vw;
  min-width: 4vw;
  height: 11.5vh;
}
.event135-5 {
  max-width: 16vw;
  min-height: 71px;
  width: 14vw;
  min-width: 4vw;
  height: 17.5vh;
}
.event270-5 {
  max-width: 16vw;
  min-height: 142px;
  width: 14vw;
  min-width: 4vw;
  height: 35.6vh;
}
.content {
  width: 100%;
  height: 100%;
}
.box {
  min-height: 24px;
  font-size: min(13px, max(10px, 2vw));
}
.eventTitle {
  font-size: max(13px, 1.3vw);
}

.subText {
  font-size: max(8px, 1vw);
}

.fade-in {
  animation: fadeIn 0.5s;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.fade-out {
  animation: fadeOut 0.5s;
}
@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
